* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(0, 0, 0);
    color:#3cdf85c0;
}

header .container {
    display: flex;
    justify-content:space-between;;
}

header .container li a {
    color: #3cdf85c0;
}
header .container li a:hover {
    color: #5514ecc0;
    text-decoration: line-through;
}


header ul {
    display: flex;
    margin: 0;
    padding: 0;
}

header li {
    display: flex;
    flex: 1;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    width: 1360px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 450px;
    height: 300px;
}

.articles article {
    width: 32%;
    margin-bottom: 10px;
}

section {
    padding: 20px;
}

section h2,
.articles article {
    margin-bottom: 20px;
    text-decoration: wavy;
}

.articles article {
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.articles article h3{
    margin-bottom: 8px;
    margin-top: 5px;
    font-size: 22px;
}

.articles article a {
    color: rgba(233, 153, 48, 0.829);
    background-color: #685e913d;
    height: 7%;
    border-radius: 15%;
    border-style:inset;
    border-color: rgba(222, 184, 135, 0.171);
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 12.5px;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration:overline;
    color: black;
    background-color: brown;
}

#esportes,
#economy,
#jogos,
#dev {
    background-color: black;
    color: azure;
}

#esportes .articles article a {
    background-color: rgb(27, 78, 52);
}

#economy .articles article a {
    background-color: rgba(156, 64, 48, 0.849);
}

#jogos .articles article a {
    background-color: rgba(73, 92, 175, 0.849);
}


#dev .articles article a {
    background-color: rgba(49, 135, 150, 0.849);
}
